<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bstore</servlet-name>
        <servlet-class>bstore</servlet-class>
        <multipart-config>
            <max-file-size>99999999</max-file-size>
            <max-request-size>99999999</max-request-size>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>chaddress</servlet-name>
        <servlet-class>chaddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>request</servlet-name>
        <servlet-class>request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editprofile</servlet-name>
        <servlet-class>editprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup1</servlet-name>
        <servlet-class>signup1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bstore</servlet-name>
        <url-pattern>/bstore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chaddress</servlet-name>
        <url-pattern>/chaddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>request</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editprofile</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup1</servlet-name>
        <url-pattern>/signup1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
          30
        </session-timeout>
    </session-config>
</web-app>
