  body
{

  font-size:25px;    

  background:#00ddbc;

  text-style:bold;      

 width:100%;

 height:parent;   

border-top-right-radius:20px;                    

}





input{width:100%;

           height:30px;

           font-size:25px;
 padding: 16px;
background-color:white;


border-radius:20px;  }







button:hover{

color:#00ddbc;

background-color:white;}