@charset "UTF-8";.jcarousel-skin-bx{overflow:hidden;height:256px;}
.jcarousel-skin-bx li{float:left;margin-right:53px;}
.home .bolt{display:inline-block;height:61px;position:relative;margin:0 31px 0 11px;width:auto;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;padding:0 0 0 3px;color:#2A3A46;text-decoration:none;}
.transition #content-container .bolt:hover{padding:0 0 0 10px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;transition:all 0.2s ease-in;cursor:pointer;text-decoration:none;}
.bolt.blue{background:url('/img/sprites/sprite-arrow.png') 0 -401px repeat-x #3F6F91;}
.bolt.light.blue{background:url('/img/sprites/sprite-arrow.png') 0 -5px repeat-x #A2D3ED;}
.bolt.red{background:url('/img/sprites/sprite-arrow.png') 0 -203px repeat-x #e87bb6;}
.bolt:after,
.bolt .after{content:"";height:61px;width:35px;top:0px;right:-35px;position:absolute;background:url("/img/sprites/sprite-arrow.png") no-repeat scroll transparent;}
.bolt:before,
.bolt .before{background:url("/img/sprites/sprite-arrow.png") no-repeat scroll transparent;content:"";height:68px;left:-11px;position:absolute;top:-5px;width:11px;}
.bolt.blue:after, .bolt.blue .after{background-position:0 -533px;}
.bolt.blue:before,.bolt.blue .before{background-position:0 -462px;}
.bolt.light.blue:after, .bolt.light.blue .after{background-position:0 -137px;}
.bolt.light.blue:before,.bolt.light.blue .before{background-position:0 -66px;}
.bolt.red:after, .bolt.red .after{background-position:0 -335px;}
.bolt.red:before, .bolt.red .before{background-position:0 -264px;}
.bolt.center.light, .bolt.center.light span{font-size:32px;font-weight:bold;line-height:61px;}
.home .bolt.blue.heading{font-weight:bold;font-size:28px;color:white;}
.bolt.blue.heading span{display:block;margin:15px 0 0 0;}
.bolt.blue.heading .detail{font-size:14px;margin:10px 0 0 0;}
.bolt.center .detail{font-size:14px;float:left;height:auto;margin:15px 0 0 14px;line-height:17px;}
.bolt.center span{float:left;display:block;}
.bolt.red{font-weight:bold;font-size:28px;line-height:61px;}
.bar input{width:195px;}
.bar button{margin:0 0 0 5px;}
.ie7 .bolt{display:inline;}
.ie7 .bar input{width:180px;}
.bar{position:relative;display:table;height:100%;width:100%;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-bottomleft-radius:10px;-moz-border-bottomright-radius:10px;-o-border-bottom-left-radius:10px;-o-border-bottom-right-radius:10px;-ms-border-bottom-left-radius:10px;-ms-border-bottom-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.bar article{width:600px;padding:0 24px 0 0;position:relative;height:auto;vertical-align:middle;display:table-cell;overflow:hidden;}
.ie7 .bar article{position:absolute;right:0px;height:auto;top:20%;display:inline;}
.bar article.small{width:562px;}
.bar article.middle{width:535px;padding:0;}
.bar article.tiny{width:320px;}
.bar article.large{width:645px;}
.bar figure{vertical-align:middle;width:320px;display:table-cell;}
.ie7 .bar figure{position:absolute;top:10px;left:310px;}
.bar figure img{vertical-align:middle;margin:0 10px 0 0;border:1px solid #E6E6E6;}
.bar.grey{background:#E6E6E6;margin-top:4px;}
.bar.white{margin-top:4px;}
.bar.blue{background:rgb(136,205,240);background:-moz-linear-gradient(top, rgba(136,205,240,1) 0%, rgba(116,186,228,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,205,240,1)), color-stop(100%,rgba(116,186,228,1)));background:-webkit-linear-gradient(top, rgba(136,205,240,1) 0%,rgba(116,186,228,1) 100%);background:-o-linear-gradient(top, rgba(136,205,240,1) 0%,rgba(116,186,228,1) 100%);background:-ms-linear-gradient(top, rgba(136,205,240,1) 0%,rgba(116,186,228,1) 100%);background:linear-gradient(top, rgba(136,205,240,1) 0%,rgba(116,186,228,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#88cdf0', endColorstr='#74bae4',GradientType=0);margin:20px 0 0;padding:10px 0 0 0;-webkit-box-shadow:-1px -1px #65A3C7 inset;-moz-box-shadow:-1px -1px #65A3C7 inset;-o-box-shadow:-1px -1px #65A3C7 inset;-ms-box-shadow:-1px -1px #65A3C7 inset;box-shadow:-1px -1px #65A3C7 inset;z-index:1;}
.oldie #wrapper header{position:relative;z-index:3;}
.bar.grey .triangle{background:url("/img/sprites/sprite-arrow.png") no-repeat scroll 0 -596px;content:"";height:3px;position:absolute;right:0;top:-3px;width:9px;display:inline-block;}
#stage{background:url(/img/home/stage.png) bottom center #E9E9E9;background:-moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 36%, rgba(228,228,228,1) 100%);background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(36%,rgba(255,255,255,1)), color-stop(100%,rgba(228,228,228,1)));background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 36%,rgba(228,228,228,1) 100%);background:-o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 36%,rgba(228,228,228,1) 100%);background:-ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 36%,rgba(228,228,228,1) 100%);background:radial-gradient(center, ellipse cover, rgba(255,255,255,1) 36%,rgba(228,228,228,1) 100%);width:100%;height:300px;top:-30px;padding:20px 0 0 0;position:relative;z-index:0;margin-bottom:-30px;border-radius:10px;}
#stage .scrollArrow{position:absolute;top:108px;}
#stage .goPrev{left:20px;}
#stage .goNext{right:20px;}
#stage img{-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;opacity:1;width:169px;height:256px;}
#stage img:hover{opacity:0.8;cursor:pointer;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
ul.seperator li{float:left;border-left:1px solid #505050;padding:0 10px;margin:1px 0;}
ul.seperator{position:relative;left:-5px;}
#teaser5Years{cursor:pointer;padding:0 0 20px 0;}
.home .top{position:relative;padding:20px 60px 0 360px;font-size:18px;line-height:23px;min-height:392px;background:url(/img/home/home_teaser.jpg) no-repeat;}
.home .top ul{list-style-type:disc;padding:0 0 0 19px;}
.home .top li{padding:0 0 14px 0;}
.home .top .headline{font-size:44px;font-weight:300;padding:0 0 30px 0;}
.home .top .moreAboutSelfPublishing{position:relative;top:30px;float:left;font-size:14px;}
.home .createBook{position:relative;float:right;}
#content-container{padding-left:0px;padding-right:0px;padding-bottom:0px;padding-top:52px;}
#home-bottom{float:left;overflow:hidden;padding:14px 0 0 0;}
#home-bottom .col{min-height:714px;width:33.33%;float:left;margin:0;}
#home-bottom .col:nth-child(2){background-color:#f0f0f0;}
#home-bottom .col .innercontent{padding:16px;}
#home-bottom .col h2{padding:10px;border-bottom:1px solid #C25D95;}
#home-bottom .bestof,
#home-bottom .recommend{min-height:100px;position:relative;overflow:hidden;padding:8px 8px 12px 8px;}
#home-bottom .bestof div:first-child{font-size:30px;font-weight:300;padding:10px 10px 0 0;}
#home-bottom .bestof-content,
#home-bottom .recommend-content{width:184px;padding:0 0 0 10px;}
#home-bottom .whatis{padding:10px;}
#home-bottom .whatis li{padding:0 0 4px 0;}
#home-bottom .category{position:absolute;bottom:12px;}
#home-bottom .price{position:absolute;bottom:12px;right:12px;color:#C25D95;}
#home-bottom .title{font-size:14px;line-height:1.2em;}
#home-bottom .footer{border-top:1px solid #C25D95;padding:20px 10px 20px 10px;text-align:right;margin:20px 0 0 0;}
.home .top .badge{position:absolute;bottom:0px;left:0px;width:200px;height:200px;}
.price-old{color:#aeadad;padding:0 6px 0 0;text-decoration:line-through;}
#home-bottom .lesetipps-bg{background: url(/newsletters/media/umschlag_475x463.png)}
#home-bottom .small{font-size:12px}
#home-bottom .NLp{padding: 10px 0 6px 0}
.tp-caption-bg{background:rgba(80,80,80,0.5);border:1px solid rgba(80,80,80,0.7);box-shadow:3px 5px 4px rgba(80,80,80,0.6);border-radius:6px;padding:30px;}
.tp-caption-bg a,.tp-caption-bg a:visited{color: white;}
.tp-caption-image-bg{background:rgba(80,80,80,0.5);border:1px solid rgba(80,80,80,0.7);box-shadow:3px 5px 4px rgba(80,80,80,0.6);border-radius:6px;padding:0;}
.tp-caption-image-bg:hover{transition: transform .25s ease !important;webkit-transform: scale(1.05) !important;-moz-transform: scale(1.05) !important;-ms-transform: scale(1.05) !important;-o-transform: scale(1.05) !important;transform: scale(1.05) !important;}
.youremail{width:160px; margin-bottom:3px;}
@media only screen and (max-width:950px){.home .top .createBook{display:none;}
.home .top{font-size:14px;}
.home .top .headline{font-size:30px;}
#home-bottom .col{min-height:200px;overflow:hidden;float:none;width:100%;min-width:660px;}
#home-bottom .bestof, #home-bottom .recommend, #home-bottom .footer{float:left;}
#home-bottom .footer{height:20px;position:relative;overflow:hidden;padding:8px 8px 12px 8px;width:96%;}
}
@media only screen and (max-width:850px){.home .top .moreAboutSelfPublishing{top:-5px;}
}
@media only screen and (max-width:700px){#home-bottom .col{min-width:500px;}
.home .top{background-size:40%;padding:20px 20px 0 250px;}
.home .top .badge{display:none;}
#home-bottom .bestof-content,
#home-bottom .recommend-content{width:400px;}
}
@media only screen and (max-width:500px){#home-bottom .col{min-width:310px;}
.home .top{background:none;padding:20px 20px 0 20px;}
#home-bottom .bestof-content,
#home-bottom .recommend-content{width:210px;}
}