body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin-right: -80px;
  position: static;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
 
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  text-decoration: none;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 100px; /* Used in this example to enable scrolling */
}
.element{
    padding-left: 142px;
}
.col-md-6 {
    margin-left: -25px;
}
.col-md-5{
    margin-right: -20px;
}

.backbutton
{
    height: 50px;

width: 50px;

position: fixed;

top: 12%;

left: 20px;

}
